<form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <!-- <div>
      Form submitted ? {{myForm.submitted}}
      Form valid ? {{myForm.valid}}
      Form invalid ? {{myForm.invalid}}
    </div> -->
    <div>
        <label for="firstname-user">firstname</label>
        <input name="firstname-user" type="text" [(ngModel)]="model.firstname" #firstname="ngModel" required
            minlength="3" maxlength="15" />
    </div>
    <!-- Message d'erreurs -->
    <div *ngIf="firstname.errors && myForm.submitted">
        <span *ngIf="firstname.errors?.['required']">Le champ Firstname est requis</span>
        <span *ngIf="firstname.errors?.['minlength']">La longueur minimale doit être supérieure à 3</span>
        <span *ngIf="firstname.errors?.['maxlength']">La longueur maximale doit être inférieure à 15</span>
    </div>
    <div>
        <label for="lastname-user">lastname</label>
        <input name="lastname-user" type="text" [(ngModel)]="model.lastname" #lastname="ngModel" required minlength="3"
            maxlength="15">
    </div>
    <div *ngIf="lastname.errors && myForm.submitted">
        <span *ngIf="lastname.errors?.['required']">Le champ Lastname est requis</span>
        <span *ngIf="lastname.errors?.['minlength']">La longueur minimale doit être supérieure à 3</span>
        <span *ngIf="lastname.errors?.['maxlength']">La longueur maximale doit être inférieure à 15</span>
    </div>
    <div>
        <label for="password-user">password</label>
        <input name="Password-user" type="password" [(ngModel)]="model.password" #password="ngModel" required>
    </div>
    <div *ngIf="password.errors && myForm.submitted">
        <span *ngIf="password.errors?.['required']">Le champ Password est requis</span>
    </div>
    <div>
        <label for="mail-user">mail</label>
        <input name="mail-user" type="email" [(ngModel)]="model.mail" #mail="ngModel" required email>
    </div>
    <div *ngIf="mail.errors && myForm.submitted">
        <span *ngIf="mail.errors['required']">Le champ mail est requis</span>
        <span *ngIf="mail.errors['email']">L'adresse mail doit être valide</span>
    </div>
    <!-- <button type="reset">Restaurer</button> -->
    <button type="submit">Inscription</button>
</form>